[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework-simplejwt = "*"
djangorestframework = "==3.13.1"
python-decouple = "*"
pillow = "*"
django-filter = "*"
drf-spectacular = "*"
django-cors-headers = "*"
django-redis = "*"
dj-rest-auth = "*"
django-rest-auth = "*"
django-allauth = "*"
facebook-sdk = "==3.1.0"
google-api-python-client = "==2.53.0"
python-twitter = "==3.5"

[dev-packages]

[requires]
python_version = "3.10"
